*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    width: 100%;
    z-index: 100;
}

main{
    overflow: scroll;
}

/*inizio header*/
.header{
    font-family: 'Rubik Mono One', sans-serif;
    display: flex;
    justify-content: end;
   
}

.container{
    height: calc(100vh - 20px);
    width: calc(100% - 20px);
    position: relative;
}    


li{
    padding: 13px;
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    margin: 50px 10px;
    font-weight: 600;
    font-size: 20px;
   
}

ul{
    list-style-type: none;
    position: absolute;
    right: 50px;
}

/*fine header*/


/*inizio main*/

.red{
    background-color: red;
}    

.green{
    background-color: green;
}    

.yellow{
    background-color: yellow;
}    

h2{
    position: absolute;
    color: yellow;
    font-family: 'Rubik Mono One', sans-serif;
    
}    

.position-relative{
    position: relative;
}    

.position-absolute{
    position: absolute;
    top: 690px;
    font-size: 50px;
    right: 645px;
    text-align: center;
}    

img{
    background-size: contain;
    position: absolute;
    top: 270px;
    left: 600px;
    height: 400px;
}    
    
.all-stars{
    color: green;
    position: absolute;
    top: 270px;
    }     
    

.write{
    color: green;
    position: absolute;
    top: 690px;
}    

/*fine main*/





















